<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%-5p] %X{PFTID} %C.%M - %msg%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
        </Console>
    </Appenders>
    <Loggers>

        <AsyncLogger name="test.v1" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>